In [1]:
!pwd

/Users/gensasaki/Work/R_projects/leadingDAT_LB1

In [2]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv("data/sales.csv", encoding="shift-jis")

In [5]:
df

        month  Fabrics Apparel & Accessories  Machinery & Equipment  Fuel
0     2002年1月                            909                    638   969
1     2002年2月                            744                    565   915
2     2002年3月                            957                    686   942
3     2002年4月                            925                    658   877
4     2002年5月                            850                    606   878
5     2002年6月                            850                    628   850
6     2002年7月                            890                    719   915
7     2002年8月                            734                    618   913
8     2002年9月                            824                    577   837
9    2002年10月                            906                    573   865
10   2002年11月                            942                    644   944
11   2002年12月                           1013                    834  1071
12    2003年1月                            905                    600   916
13    2003年2月                            732                    566   931
14    2003年3月                            947                    727   990
15    2003年4月                            907                    640   899
16    2003年5月                            868                    616   881
17    2003年6月                            889                    654   843
18    2003年7月                            937                    712   873
19    2003年8月                            762                    671   904
20    2003年9月                            813                    633   845
21   2003年10月                           1003                    609   869
22   2003年11月                            947                    638   899
23   2003年12月                           1052                    826  1059
24    2004年1月                           1013                    640   953
25    2004年2月                            808                    596   926
26    2004年3月                            984                    699   985
27    2004年4月                            942                    652   906
28    2004年5月                            910                    630   883
29    2004年6月                            879                    682   864
..        ...                            ...                    ...   ...
114   2011年7月                            957                    953  1088
115   2011年8月                            743                    664  1115
116   2011年9月                            770                    570  1014
117  2011年10月                            959                    554  1039
118  2011年11月                            923                    521  1097
119  2011年12月                           1050                    750  1339
120   2012年1月                            994                    590  1195
121   2012年2月                            765                    538  1221
122   2012年3月                            958                    642  1290
123   2012年4月                            978                    556  1177
124   2012年5月                            918                    545  1072
125   2012年6月                            883                    575   975
126   2012年7月                            953                    697  1013
127   2012年8月                            769                    582  1060
128   2012年9月                            770                    566  1016
129  2012年10月                            941                    524  1049
130  2012年11月                            959                    508  1117
131  2012年12月                           1055                    706  1365
132   2013年1月                            993                    564  1250
133   2013年2月                            754                    515  1246
134   2013年3月                           1012                    628  1294
135   2013年4月                            966                    527  1157
136   2013年5月                            970                    521  1107
137   2013年6月                            968                    591  1026
138   2013年7月                            962                    646  1093
139   2013年8月                            798                    585  1123
140   2013年9月                            798                    549  1060
141  2013年10月                            921                    553  1095
142  2013年11月                            985                    549  1185
143  2013年12月                           1060                    712  1377

[144 rows x 4 columns]